{% extends 'baseAdmin.html.twig' %}

{% block title %}StDeportes index{% endblock %}

{% block body %}
    <h1>Deportes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for st_deporte in st_deportes %}
            <tr>
                <td>{{ st_deporte.id }}</td>
                <td>{{ st_deporte.nombre }}</td>
                <td>
                    <a href="{{ path('st_deportes_show', {'id': st_deporte.id}) }}">show</a>
                    <a href="{{ path('st_deportes_edit', {'id': st_deporte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('st_deportes_new') }}">Create new</a>
{% endblock %}
