

{% block body %}

    <div class="container">
        {{ form_start(form, {'action':'/post_filter'}) }}
            {{form_widget(form.deportes)}}
            {{form_widget(form.ciudades)}}
            <button onclick="ns.cargarPostsFiltro({{listaPosts}})" type="submit" class="btn btn-primary">Buscar</button>
        {{ form_end(form) }}
    <div>

{% endblock %}
