{% extends 'base.html.twig' %}

{% block title %}Hello EditarDatosUsuarioController!{% endblock %}

{% block body %}
<main class="editar">
    <div class="container w-75 mx-auto">
        <div class="row">
            <div class="col-6">
                <div class="container mx-auto">
                {{ form_start(form)}}
                <div class="form-row">
                    <div class="form-group">
                        <label for="name" class="sr-only">Nombre</label> Nombre: {{ form_widget(form.nombre)}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="sr-only" for="apellidos">Apellidos</label> Apellidos: {{ form_widget(form.apellidos)}} {# <input type="email" class="form-control" id="apellidos" placeholder="Apellidos"> #}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="fechaNac"></label> Fecha Nacimiento: {{ form_widget(form.fechaNac)}} {# <input type="email" class="form-control" id="apellidos" placeholder="Apellidos"> #}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="sr-only" for="Ciudad">Ciudad</label> Ciudad: {{ form_widget(form.ciudad)}} {# <input type="text" class="form-control" id="Ciudad" placeholder="Ciudad"> #}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="sr-only" for="inputEmail4">Email</label> E-Mail: {{ form_widget(form.mail)}} {# <input type="email" class="form-control" id="inputEmail4" placeholder="Email"> #}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group pr-3 w-50">
                        <label class="sr-only" for="nick">Nick</label> Nickname: {{ form_widget(form.nick)}} {# <input type="text" class="form-control" id="nick" placeholder="Nick"> #}
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group  w-50">
                        <div class="fotoLabelContainer">
                             <img class="img-fluid user-panel-img" src="data:image/png;base64,{{ foto }}">
                        </div>
                       
                        <div class="form-row">
                            <div class="form-group">
                                
                                <div class="custom-file">
                                    {{ form_widget(form.foto, {'id': 'file'} )}}
                                    <label id="for-file" for="file"><i class="fa fa-file mr-2" aria-hidden="true"></i>Elige una foto</label>
                                </div>
                                <div id="mensaje-foto"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Actualizar Datos</button> {{ form_end(form)}}
                </div>
            </div>
        </div>
</main>
{% endblock %}